
<div id="themes" class="text-center" style="display : none;">
  <div class="container-fluid">
    <h5>Total compatibility on :</h5>
    <div class="btn btn-dark btn-sm mx-1" id="default">Default</div>
    <div class="btn btn-outline-success btn-sm mx-1" id="cosmo">Cosmo</div>
    <div class="btn btn-outline-success btn-sm mx-1" id="cyborg">Cyborg</div>
    <div class="btn btn-outline-success btn-sm mx-1" id="darkly">Darkly</div>
    <div class="btn btn-outline-success btn-sm mx-1" id="flatty">Flatty</div>
    <div class="btn btn-outline-success btn-sm mx-1" id="journal">Journal</div>
    <div class="btn btn-outline-success btn-sm mx-1" id="litera">Litera</div>
    <div class="btn btn-outline-success btn-sm mx-1" id="lumen">Lumen</div>
    <div class="btn btn-outline-success btn-sm mx-1" id="lux">Lux</div>
    <div class="btn btn-outline-success btn-sm mx-1" id="minty">Minty</div>
    <div class="btn btn-outline-success btn-sm mx-1" id="pulse">Pulse</div>
    <div class="btn btn-outline-success btn-sm mx-1" id="sandstone">Sandstone</div>
    <div class="btn btn-outline-success btn-sm mx-1" id="sketchy">Sketchy</div>
    <div class="btn btn-outline-success btn-sm mx-1" id="superhero">Superhero</div>
    <div class="btn btn-outline-success btn-sm mx-1" id="united">United</div>
    <div class="btn btn-outline-success btn-sm mx-1" id="yeti">Yeti</div>
    <hr>

    <h5>Limited compatibility on :</h5>
    <div class="btn btn-outline-danger btn-sm mx-1" id="cerulean">Cerulean</div>
    <div class="btn btn-outline-danger btn-sm mx-1" id="materia">Materia</div>
    <div class="btn btn-outline-danger btn-sm mx-1" id="simplex">Simplex</div>
    <div class="btn btn-outline-danger btn-sm mx-1" id="slate">Slate</div>
    <div class="btn btn-outline-danger btn-sm mx-1" id="solar">Solar</div>
    <div class="btn btn-outline-danger btn-sm mx-1" id="spacelab">Spacelab</div>
  </div>
</div>

<hr>

