  <hr>
<h1 class="text-center">Colorstrap Beta</h1>  
  
  <hr>

<%= render 'colorform' %>

<hr>

<p class="text-center">Cliquez sur "Save" pour générer le code CSS correspondant à votre selection. Ensuite copier-coller le dans un fichier <b>bootstrap.min.css</b> ou télécharger le directement.</b>
<p class="text-center text-muted">Ne vous inquiétez pas pour les couleurs des hovers et autres qui ne s'affichent pas, elles sont calculés correctement mais pas encore intégrer en JS...</b>
<hr>
<p class="text-center">Click on "Save" to generate the CSS code relative to your selection. Then copy-paste it in a <b>bootstrap.min.css</b> file or download it directly.</b>
<p class="text-center text-muted">Don't worry about the colors triggered from actions (such as hovers) that are not displayed yet, they are generated correctly in CSS but they’re not yet integrated in JS on this page…</b>


  <hr>

<%= render 'kitui' %>

<hr>

<div class="d-flex align-items-center">
  <p class="col-1 justify-content-start">(\(\<br>( -.-)<br>o_(")(")<br></p>

  <div class="col-10 text-center">
    <span>Made by <a href="https://github.com/luca-montaigut">Luca Montaigut</a> with <i class="fas fa-heart"></i></span> |
    <span>Contact : <a href="mailto:lmontaigut@gmail.com">lmontaigut@gmail.com</a></span>
    <p>Based on <a href="https://bootswatch.com/" rel="nofollow">Bootswatch</a> who is based on <a href="https://getbootstrap.com" rel="nofollow">Bootstrap</a>. Icons from <a href="https://fontawesome.com/" rel="nofollow">Font Awesome</a>. Web fonts from <a href="https://fonts.google.com/" rel="nofollow">Google</a>.</p>
  </div>
  <div class="col-1"></div>
</div>

<hr>



    



<script>
let root = document.documentElement;

addEventListener("change", e => {
  root.style.setProperty('--primary', document.getElementById('primary').value);
  root.style.setProperty('--secondary', document.getElementById('secondary').value);
  root.style.setProperty('--success', document.getElementById('success').value);
  root.style.setProperty('--info', document.getElementById('info').value);
  root.style.setProperty('--warning', document.getElementById('warning').value);
  root.style.setProperty('--danger', document.getElementById('danger').value);
  root.style.setProperty('--background', document.getElementById('background').value);
  root.style.setProperty('--text-light', document.getElementById('text_light').value);
  root.style.setProperty('--text-dark', document.getElementById('text_dark').value);
  root.style.setProperty('--light', document.getElementById('light').value);
  root.style.setProperty('--dark', document.getElementById('dark').value);
  root.style.setProperty('--link-hover', document.getElementById('link_hover').value);

});

</script>