
    <!-- Start of navbar-->
    <nav class="navbar navbar-expand-lg navbar-white bg-success">
      <a class="navbar-brand ml-5" href="/"><img height="50" src="https://nutriti.herokuapp.com/assets/logo_nutriti-503d74d802934f61d7d4fc9b0724bcf518326ee44a2760ff50e444d3a892bc3f.svg" /></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
          </li>        
        </ul>
        <ul class="navbar-nav">
            <li class="btn-group">
              <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                S'inscrire / Se connecter
              </button>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/users/sign_up">Inscription</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/users/sign_in">Connexion</a>
              </div>
            </li>
        </ul>
      </div>
    </nav>
    <!-- End of Navbar-->

  <div class="jumbotron jumbotron-fluid">
  
    <div class="container ml-5 mt-5" >
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6 mt-5">
          <h1 class="display-2 text-white"> <b>Vous êtes à deux clics de bien manger</b> </h1>
          <button type="button mt-2" class="btn btn-warning btn-lg text-center">Essayez maintenant !</button>
        </div>
        <div class="col-md-5"></div>
      </div>
    </div>
  </div>



  <div class="container">
    <div class="row icons-container text-center mb-5">
      <div class="col-md-4">
        <div class="incon-box-2 with-line">
          <h3 class="mb-2 text-success border-bottom pb-3">Simplicité à toute épreuve</h3>
          <i class="fas fa-lemon fa-2x fa-spin"></i>
          <p class="mt-3">Le but est simple : après avoir rentré quelques données essentielles pour le fonctionnement de l'application telles que votre poids, votre taille, votre activité physique et vos objectifs, Nutriti vous proposera un planning de repas pour votre semaine. </p>
        </div>


      </div>
      <div class="col-md-4">
        <div class="incon-box-2 with-line">
          <h3 class="mb-2 text-success border-bottom pb-3">Prise en main de sa santé</h3>
          <i class="fas fa-carrot fa-2x fa-spin"></i>
          <p class="mt-3"> Nutriti vous propose des recettes dosées en fonction de vos besoins caloriques. Ces derniers sont basés sur la formule de Harris et Benedict permettant ainsi de vous présenter des plats aux proportions adaptées à votre corps.</p>
        </div>
  
      </div>
      <div class="col-md-4">
        <div class="incon-box-2 with-line">
          <h3 class="mb-2 text-success border-bottom pb-3">Des courses clef en main</h3>
          <i class="fas fa-pepper-hot fa-2x fa-spin"></i>
          <p class="mt-3"> Avoir un planning c'est bien, avoir les aliments pour faire les recettes c'est mieux ! La grande force de Nutriti est de vous fournir la liste de courses nécessaires à la réalisation des plats de votre planning </p>
        </div>
      </div>
    </div>

    <div class="row text-center mt-5">
      <div class="col-12">
        <h3 class="mb-5 display-4 text-success border-bottom pb-3"> Nutriti en quelques vues </h3>
      </div>
    </div>

    <div class="row mb-5">
      <div class="card-deck">
        <div class="card text-center">
          <img class="card-img-top" src="https://images.pexels.com/photos/572056/pexels-photo-572056.jpeg?cs=srgb&amp;dl=a-l-interieur-activites-affaires-afficher-572056.jpg&amp;fm=jpg" />
          <div class="card-body">
            <h5 class="card-title text-success">Votre planning</h5>
            <p class="card-text">Générez rapidement le planning de votre semaine de repas et modifiez-le à votre guise</p>
            <button type="button" class="btn btn-lg btn-warning" disabled>Voir</button>
            <a class="btn btn-outline-warning btn-lg" href="/users/sign_up">M&#39;inscrire</a>
          </div>
        </div>
        <div class="card shadow-lg">
          <img class="card-img-top" src="https://images.pexels.com/photos/2168783/pexels-photo-2168783.jpeg?cs=srgb&amp;dl=a-l-interieur-femme-fruits-interieur-2168783.jpg&amp;fm=jpg" />
          <div class="card-body text-center">
            <h5 class="card-title text-success">Vos recettes</h5>
            <p class="card-text">Retrouvez des recettes saines et faciles à réaliser. Vous suivez un régime alimentaire spécifique ou êtes allergique à un aliment ? Pas de problèmes, nous ne vous proposerons que des recettes répondant à vos critères</p>
            <button type="button" class="btn btn-lg btn-warning" disabled>Voir</button>
            <a class="btn btn-outline-warning btn-lg" href="/users/sign_up">M&#39;inscrire</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://images.pexels.com/photos/416322/pexels-photo-416322.jpeg?cs=srgb&amp;dl=argent-checklist-commerce-communication-416322.jpg&amp;fm=jpg" />
          <div class="card-body text-center">
            <h5 class="card-title text-success">Vos listes de courses</h5>
            <p class="card-text">Grâce à Nutriti, vous aurez toujours les bons aliments dans vos placards pour réaliser vos repas.</p>
            <button type="button" class="btn btn-lg btn-warning" disabled>Voir</button>
            <a class="btn btn-outline-warning btn-lg" href="/users/sign_up">M&#39;inscrire</a>
          </div>
        </div>
      </div>
    </div>

  </div>

</body>
</html>



    <!-- Start of footer-->
    <footer class="page-footer mt-5">
        <div class="container-fluid bg-success py-1 text-center">
          <p class="mt-2">
            <i class="far fa-copyright"></i> Fait avec <i class="fas fa-heart"></i> par l'équipage Nantais 
        </div>  
        <div class="container-fluid bg-dark py-1">
          <div class="container text-center text-white">
          </div>
        </div>
    </footer>
    <!-- End of footer-->
    
  
<style>

.jumbotron{
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("https://nutriti.herokuapp.com/assets/home.jpg");
  background-position: center;    
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

</style>